<mat-form-field appearance="fill">
  <!-- <input matInput placeholder="Simple placeholder" required> -->
  <app-number-input></app-number-input>
</mat-form-field>

<mat-form-field appearance="fill">
  <!-- <input matInput placeholder="Simple placeholder"> -->
  <app-level></app-level>
</mat-form-field>

<mat-form-field appearance="fill">
  <!-- <mat-select required>
    <mat-option>-- None --</mat-option>
    <mat-option value="option">Option</mat-option>
  </mat-select>
  <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label> -->
</mat-form-field>

<div class="example-button-row">
  <button mat-raised-button>Añadir</button>
  <button mat-raised-button color="primary">Quitar</button>
</div>
