<div class="example-container">
  <form [formGroup]="options">
  <!-- <form> -->
    <app-compound></app-compound>
    <!-- <mat-form-field appearance="fill"> -->
      <!-- <h4>Nivel</h4>
        <mat-label>Selecciona uno</mat-label>
        <mat-select> -->
          <!-- <mat-option *ngFor="let level of levels" [value]="level.name">
            {{level.name}}
          </mat-option> -->
        <!-- </mat-select> -->
      <!-- <app-level></app-level> -->
    <!-- </mat-form-field> -->
    <button mat-raised-button>Calcular</button>
  </form>
  <!-- </form> -->
  <app-result-presenter></app-result-presenter>
</div>

