.button-container {
  margin-bottom: 5%;
}

.anadir {
  background-color: rgba(66, 184, 66, 1);
}

.calcular {
  float: right;
  margin-right: 1%;
  /* background-color: rgba(0, 128, 0, 0.5); */
  background-color: rgba(66, 184, 66, 1);
}
