<mat-form-field appearance="fill" >
  <!-- <mat-form-field appearance="fill" [formGroup]="parentForm"> -->

  <mat-label >Número</mat-label>
  <!-- <input matInput #numberInput formControlName="numberSel" [errorStateMatcher]="matcher"> -->
  <input matInput #numberInput [formControl]="parentForm.get('numberSel')" [errorStateMatcher]="matcher">
  <!-- <input matInput [formControl]="numberElementsControl" [errorStateMatcher]="matcher"> -->
  <mat-hint>Introduce un número {{ hasEmailError }}</mat-hint>
  <!-- <mat-error *ngIf="parentForm.hasError('email') && !parentForm.hasError('required')"> -->
  <!-- <mat-error *ngIf="hasError('required')">
    Sólo se admiten números
  </mat-error> -->

  <!-- <mat-error *ngIf="hasError('email')"> -->
  <mat-error >
    Number is <strong>required</strong>
  </mat-error>
  <div [ngClass]="{'errorMessage': hasError}">Error patata</div>
  <!-- <mat-error *ngIf="parentForm.hasError('email')"> -->
  <!-- <mat-error >
    test
  </mat-error> -->
</mat-form-field>
