<mat-form-field appearance="fill">
  <mat-label>Número</mat-label>
  <input matInput >
  <!-- <input matInput [formControl]="numberElementsControl" [errorStateMatcher]="matcher"> -->
  <mat-hint>Introduce un número</mat-hint>
  <!-- <mat-error *ngIf="numberElementControl.hasError('email') && !numberElementControl.hasError('required')">
    Sólo se admiten números
  </mat-error>
  <mat-error *ngIf="numberElementControl.hasError('required')">
    Number is <strong>required</strong>
  </mat-error> -->
</mat-form-field>
